<ion-header>
  <ion-toolbar>
    <ion-title>Input Lokasi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item><ion-input placeholder="Nama"></ion-input></ion-item>
  <ion-item><ion-input placeholder="Alamat"></ion-input></ion-item>
  <ion-item><ion-input placeholder="Telepon"></ion-input></ion-item>
  <ion-item><ion-input placeholder="Kategori"></ion-input></ion-item>
  <ion-item
    ><ion-label floating>Picture</ion-label
    ><ion-input placeholder="masukkan gambar" type="file"></ion-input
  ></ion-item>
  <ion-button class="btn">Confirm</ion-button
  ><ion-button class="btn">Cancel</ion-button>
</ion-content>
