.btn{
    background-color: turquoise;
    color: rgb(0, 0, 0);
    width: 45%;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 5px;
    font-size: small;
    font-family: 'Nunito', sans-serif;
  }